@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,600');


/*
BACKGROUND: #40312f
OFFWHITE: #fcfbf9
TEXT: #d4cac9
*/

body {
  background: #40312f;
  padding: 0;
  margin: 0;
  justify-content: left;
  font-family: "Crimson Text", serif;
  font-style: "book";
  font-weight: "book";
  font-size: 115%;
  color: #d4cac9;
}

::selection {
  background: #c7b8b7;
}

::-moz-selection { /* Code for Firefox */
  background: #c7b8b7;
}

#parallax-backgrounds img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#menu {
  width: 70%;
  padding-left: 15%;
  position: absolute;
  text-align: center;
  top: 30px;
  color: #40312f;
}

#menu a {
  border-bottom: 0px;
  color: #695d54;
  padding: 0 1.5em;
}

#menu a:hover {
  color: #de6f7a;
}

.horizontal-flex {
  display: flex;
  justify-content: center;
}

#title-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 200%;
}

#title-contents {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  color: #40312f;
}

.title-sub {
  font-size: 40%;
  letter-spacing: 1px;
  line-height: 200%;
}

#home-body {
  position: absolute;
  padding: 4em 0;
  background: #40312f;
  line-height: 160%;
}

.title {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 160%;
}

a {
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 80%;
  text-decoration: none;
  border-bottom: 0.1px solid #a19999;
  color: #b8aba9;
}

a:hover {
  color: #c49da1;
  border-bottom: 0.1px solid #c49da1;
}

.section-block {
  display: flex;
  margin: 0 0 0 -2.5em;
}

.section-block p {
  margin: 0px;
}

.section-subsection {
  font-family: "Josefin Sans", sans-serif;
  float: left;
  text-align: right;
  width: 20%;
  line-height: 210%;
  color: #b58b94;
  font-size: 90%;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.section-caption {
font-family: "Crimson Text", serif;
  font-size: 120%;
  font-style: italic;
  line-height: 130%;
  color: #b58b94;
}

.section-desc {
  float: right;
  padding-left: 2em;
  width: 80%;
}

.section-subcaption {
  font-family: "Josefin Sans", sans-serif;
  padding-bottom: 0.5em;
  font-size: 90%;
  line-height: 160%;
  /* color: #b58b94; */
}

.footer-item {
  padding: 2em;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 90%;
  letter-spacing: 2px;
  line-height: 200%;
}

.footer-item a {
  border-bottom: 0px;
}

.footer-item i {
  font-size: 36px;
}

.color-block:nth-of-type(2n) {
  background: #fcfbf9;
  color: #40312f;
}

.color-block:nth-of-type(2n) .section-subsection {
  color: #c74664;
}
/*
.color-block:nth-of-type(2n) .section-subcaption {
  color: #c74664;
} */

.color-block:nth-of-type(2n) .section-caption {
  color: #c74664;
}

.color-block:nth-of-type(2n) a {
  color: #5e4e4b;
  border-bottom: 0.1px solid #856f6b;
}

.color-block:nth-of-type(2n) a:hover {
  color: #de6f7a;
  border-bottom: 0.1px solid #de6f7a;
}

.color-block {
   padding: 0 20%;
}
