@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,600');


/*
CHARCOAL CHOCOLATE: #302e2e
OFFWHITE: #fcfbf9
TEAL HIGHLIGHT: #d7e8e3;
DARKER TEAL: #73a395;
ORANGE: #e2440f;
*/

body {
  background: #fcfbf9;
  padding: 0;
  margin: 0;
  justify-content: left;
  font-family: "Crimson Text", serif;
  font-style: "book";
  font-weight: "book";
  font-size: 105%;
  color: #333;
}

#header {
  margin-bottom: 4.5em;
}

#title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 3em;
}

#title-sub {
  /* font-family: "Josefin Sans", sans-serif; */
  letter-spacing: 1px;
  font-style: italic;
  font-size: 100%;
  margin-top: 1em;
  line-height: 150%;
}

#page-content {
  padding: 6em;
  padding-right: 18em;
}

#intro {
  margin-top: 4em;
}

.subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 130%;
}

.section-body {
  margin-left: 2em;
}

#toc-container {
  background: transparent;
  display: table;
  font-size: 95%;
  margin-bottom: 1em;
  padding: 20px;
  width: auto;
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  text-align: right;
  line-height: 200%;
  padding-top: 30%;
}

p {
  line-height: 175%;
}

a {
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 80%;
  text-decoration: none;
  border-bottom: 0.1px solid #a19999;
  color: #302e2e;
}

a:hover {
  color: #e2440f;
  border-bottom: 0.1px solid #e2440f;
}

footer {
  background-color: #302e2e;
  width: 100%;
  margin-bottom: 0;
  margin-top: 10em;
  padding-top: 5em;
  padding-bottom: 7em;
  align-items: center;
}

footer p, footer a {
  margin-bottom: 0;
  color: #a59e9a;
  font-family: "Josefin Sans", serif;
  font-size: 80%;
  letter-spacing: 2px;
  text-align: center;
}
